<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.kiosku.xbug.app">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DetailDebugActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".services.XBugService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name=".XBugService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>
</manifest>
